
/***** --General-- *****/
body {
	background: url("../img/pastel_pink.png");
	font-family:'Bitter', serif;
}

p {
	font-size: 0.85em;
}

h1,
h2,
h3 {
	font-family: 'Cookie', cursive;
}



/***** --Header-- *****/
header {
	background-color: #6B3B17;
	padding-top: 5px;
	padding-bottom: 5px;
}

#logo_banner {
	border-top: 5px solid #F587D7;
	border-bottom: 5px solid #F587D7;
}

#inner_banner {
	border-top: 2px solid #86CCCC;
	border-bottom: 2px solid #86CCCC;
	margin-top:5px;
	margin-bottom: 5px;
}

.social_icons {
	text-align: right;
}

@media (min-width: 768px) {
	.icon {
		display: block;
		float: right;
		clear: both;
	}
}


/**** --Main-- ****/
.wrapper {
	border-radius: 30px;
	background-color: #F7F7F2;
	z-index: 3;
}

.title {
	text-shadow: rgba(255, 255, 255, 0.6) 1px 1px 1px, rgba(0, 0, 0, 0.6) -1px -1px 1px;
	color: #0FA8A1;
	text-align: center;
}

.intro {
	color: #0FA8A1;
	font-style: italic;
}
@media (min-width: 768px) {
	.intro {
		font-size: 1em;
		text-align: center;
  }
}

.cheesecake {
	z-index: -1;
	width: 100%;
	border-radius: 30px;
	margin-top: -15px;
}


/***** --Navigation-- *****/
.navbar {
	position: absolute;
	top:201px;
	left: 0;
	right: 0;
	z-index: 1000;
}

/*Before 768px (Tablets and phones)*/
@media(max-width: 768px) {
	ul.navbar-nav {
		margin-left: 5%;
		border: 1px solid rgba(127,219,219,0.8);
		border-radius: 5px 30px 30px 30px;
		background-color: rgba(15,168,161,0.8);
	}

	.nav-item {
		padding-left: 1em;
				
		font-size: 1em;
		font-weight: 700;
		letter-spacing: 1px;
	}

	.nav-item:hover {
		background-color: #99E2E2;
	}
	.nav-item:hover:first-child {
		border-radius: 0 30px 0 0;
	}
	.nav-item:hover:last-child {
		border-radius: 0 0 30px 30px;
	}

	.nav-item:nth-last-child(1n+2) {
		border-bottom: 1px solid rgba(127,219,219,0.8);
	}
}

/*After 768px (Big screens)*/
@media (min-width: 768px) {
	.nav-item {
		font-family: Georgia, serif;
		font-size: 1em;
		font-weight: bold;

		background-color: #F587D7;
		transition: 0.4s;
	}
	.nav-item:hover {
		background-color: #99E2E2;
		transform: scale(1.1);
	}

	.nav-link {
		padding: 0.3em 1.1em!important;
	}
	
	.nav-item:first-child {
		border-radius: 30px 0 0 0;
	}
	.nav-item:last-child {
		border-radius: 0 0 30px 0;
	}
	
	.nav-item.active,
	.nav-item.active:hover {
		background-color: #D41C62;
	}
}

button.navbar-toggler {
	background: #0FA8A1; /*Button background color change*/
	margin-left:5%;
}


/***** --Footer-- *****/

footer {
	background-color: #86CCCC;
	padding: 2em 0 2em 0;
}

footer p {
	color: #fff;
	font-size: 0.85em;
	margin: 0;
	font-weight: bold;
}

@media (max-width: 768px) {
	footer p {
		text-align: center;
	}
}